*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 236, 250);
    font-family: "Poppins", serif ;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

header{
    
    color: #6fda1e;
    background-image: linear-gradient(45deg,black 300px,rgb(226, 21, 21));
}
footer{
    background-color: black;
    color: #ddebd2;
    background-image: linear-gradient(45deg, rgb(226, 21, 21),black 500px);

}

a, ul, li{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    
} 